<div class="cmdBoxNavi btn-group">
    <a data-toggle="home" class="btn btn-inverse btn-sm" href="#" role="button" aria-label="Home" title="Home">
        <span class="icon icon-home" aria-hidden="true"></span>
    </a>
    <a data-toggle="theme" class="btn btn-inverse btn-sm" href="#" role="button" aria-label="Theme" title="Theme">
        <span class="icon icon-adjust" aria-hidden="true"></span>
    </a>
    <a data-toggle="config" class="btn btn-inverse btn-sm" href="#" role="button" aria-label="Config" title="Config">
        <span class="icon icon-cogs" aria-hidden="true"></span>
    </a>
</div>
