<nav class="menu" data-toggle="menu" style="width: 200px">
  <ul class="nav nav-primary">
    <li class="active"><a href="javascript:;"><i class="icon-th"></i> 全局设定</a></li>
    <li class="show nav-parent">
      <a href="javascript:;"><i class="icon-time"></i> 命令盒</a>
      <ul class="nav">
        <li><a href="javascript:;">Default</a></li>
      </ul>
    </li>
  </ul>
<hr>
<div class="row">
  <button class="btn btn-primary"><i class="icon-edit"></i> 创建命令</button>
  <button class="btn btn-danger"><i class="icon-times"></i> 删除命令</button>
</div>
</nav>